</div>
<footer class="footer-bg">
  <div class="container">
      <div class="footer-upper">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="footer-content-item">
                      <div class="footer-logo">
                          <a href="/"><img src="./img/cover_prev_ui.png" alt="logo"></a>
                      </div>
                      <div class="footer-details">
                          <p><b>NOTE:</b> Neither FINCCH BANKPAY nor any of its affiliates will ever ask you
                              for your NIN(UK), Social Security number(USA), any other country Identification Number, account
                              information, passwords or PINs via Facebook or Twitter and Instagram or Email.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                  <div class="footer-content-list footer-content-item">
                      <div class="footer-content-title">
                          <h3>Site Link</h3>
                      </div>
                      <ul class="footer-details footer-list">
                          <li><a href="/">Home</a></li>

                          <li><a href="/about">Services</a></li>
                          <li><a href="/contact">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                  <div class="footer-content-list footer-content-item">
                      <div class="footer-content-title">
                          <h3>Account</h3>
                      </div>
                      <ul class="footer-details footer-list">
                          <li><a href="/login">Login </a></li>
                          <li><a href="/register">Sign Up</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="footer-content-list footer-content-item">
                      <div class="footer-content-title">
                          <h3>Address</h3>
                      </div>
                      <ul class="footer-details footer-list">
                          <li>Address: <span>7648 E US Hwy 36, Los Angeles, United States</span></li>
                          <li>Message: <span><a href="mailto:customercare@fincchbankpayconline.com">customercare@fincchbankpayconline.com</a></span></li>
                          <li>Phone: <span><a href="tel:+1">+1 601-203-1612</a></span></li>
                          <!--<li>Faq: <span>+(456) 332-897-234</span></li>-->
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-lower">
          <div class="footer-lower-item footer-copyright-text">
              <p>Copyright ©2021 | All Reserve Right | FincchBankPay</p>
          </div>
          <div class="footer-lower-item footer-social-logo">
            
          </div>
      </div>
  </div>
</footer>

