<div class="loading">
        <div class="loading-content">
          <span>...Loading</span>
        </div>
      </div>

      <header class="header-three wow fixed-top" style="margin-bottom: 590px !;">

        <!-- Main Navigation Start -->
        <nav  class="header-fullpage navbar navbar-expand-lg">

            <div class="container " >
                <div class="d-flex align-items-center">
                    <a id="lbb-logo" href="/">
                        <img src="./img/cover_prev_ui.png" height="100" alt="logo" />
                    </a>

                    <a id="lbb-logo-mobile" href="/">
                        <img src="./img/cover_prev_ui.png"  height="100" alt="logo" />
                    </a>
                </div>
                <!-- Topbar Request Quote Start -->
                <div class="d-inline-flex request-btn order-lg-last">
                    <!-- Toggle Button Start -->
                    <button class="navbar-toggler x collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Toggle Button End -->
                </div>
                <!-- Topbar Request Quote End -->

                <div class="collapse navbar-collapse  nav-light" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0 mobileee" id="onepage">
                        <li class="nav-item dropdown text-black">
                            <a class="nav-link" href="/"> Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/about">
                                Services
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/contact">
                                Contact
                            </a>
                        </li>

                        <li class="navbar-option-item">
                            <a href="/register" class="btn1 blue-gradient btn-with-image">
                                <i class="flaticon-login"></i>
                                <i class="flaticon-login"></i>
                                Sign Up
                            </a>
                        </li>
                        <li class="navbar-option-item">
                            <a href="/login" class="btn1 orange-gradient btn-with-image">
                                <i class="flaticon-user"></i>
                                <i class="flaticon-user"></i>
                                Login
                            </a>
                        </li>


                    </ul>
                    <!-- Main Navigation End -->
                </div>
            </div>

        </nav>
        <!-- Main Navigation End -->
    </header>