
<!DOCTYPE html>

<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Admin </title>
	<!-- BOOTSTRAP STYLES-->
    <link rel="stylesheet"  href="/admin-assets/css/bootstrap.css"  />
     <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet"   href="/admin-assets/css/font-awesome.css"/>
        <!-- CUSTOM STYLES-->
    <link rel="stylesheet"  href="/admin-assets/css/custom.css" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
   {{> _admin}}
      {{{body}}}






     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/admin-assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="/admin-assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/admin-assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="/admin-assets/js/custom.js"></script>
    
   
</body>


</html>
