<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/Nhat/main.css" />
    <title>Payyed - Login page</title>

     <!-- xxx Change With Your Information xxx -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
  
    <meta name="author" content=" Fincch BankPay">
    <meta name="description" content=" Fincch BankPay">
    <meta name="keywords"
          content="Fincch Bank Pay">

          <!-- xxx Favicon xxx -->
    <link rel="shortcut icon" type="image/x-icon" href="./img/default.png" />

    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" type="text/css" media="all">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.min.css" type="text/css" media="all">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" type="text/css" media="all">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css" type="text/css" media="all">
    <!-- magnific popup css -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css" type="text/css" media="all">
    <!-- boxicons css -->
    <link rel='stylesheet' href='/assets/css/boxicons.min.css' type="text/css" media="all">
    <!-- Line Awesome CSS -->
    <link rel='stylesheet' href='/assets/css/line-awesome.min.css' type="text/css" media="all">
    <!-- flaticon css -->
    <link rel='stylesheet' href='/assets/css/flaticon.css' type="text/css" media="all">
    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
    <!-- responsive css -->
    <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css" media="all">

  </head>

  <body>


      {{{body}}}


   <script src="./vendor/jquery.min.js"></script>
  <script>
    $(window).on("load", () => {
      $(".loading").fadeOut(200);
    });
  </script>

  <!-- Smartsupp Live Chat script -->
   <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="e39d8054-267c-49cf-90ae-83326481aead";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>


  </body>
</html>