<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- xxx Basics xxx -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- xxx Change With Your Information xxx -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>Register page -  Fincch Bank Pay</title>
    <meta name="author" content=" Fincch BankPay">
    <meta name="description" content=" Fincch BankPay">
    <meta name="keywords"
          content="Fincch Bank Pay">

          <!-- xxx Favicon xxx -->
    <link rel="shortcut icon" type="image/x-icon" href="./img/default.png" />


    <link rel="stylesheet" href="/css/Nhat/main.css" />

  </head>

  <body>

      {{{body}}}



    <script src="./vendor/jquery.min.js"></script>

  <script>
    $(window).on("load", () => {
      $(".loading").fadeOut(200);
    });
  </script>

   <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="dff7fa76-ffe7-4bae-968e-695191847dd2";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </body>
</html>