<h3>Account Successfully Created</h3>
<p>Dear customer,

this is notify you that an email has been sent to you in regards to the opening of your account, your account is currently active for transactions, do write us on our official email if you have any questions.

Thanks
Office Email
costumerservice@fnmconline.com.</p>