
<div class="slider" style="margin-top: 150px;">
  <div class="owl-carousel owl-theme">


    <div class="slider__item bg-3 lazy">
      <div class="overlayer"></div>
      <div class="slider__item--content">
        <h1>Send & Receive Money</h1>
        <h3>
          Quickly and easily send, receive and request money online with Fincch BankPay.
        </h3>

      </div>
      <div class="slider__item-actions">
        <a href="/register"><button class="btn1 orange-gradient btn-with-image" style="color: white;">Open a free account</button></a>
      </div>
    </div>
  </div>
</div>

<div class="section section-1">
  <div class="container">
    <div class="section-title">
      <h3>
        Why should you choose Fincch BankPay?
      </h3>
      <span>
        Here’s Top 6 reasons why using a Payyed account for manage your money.
      </span>
    </div>
    <div class="section-content row">
      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-hand-pointer"></label>
        <img src="/assets/images/file.png" alt="feature" style="margin-bottom: 20px;">
        <h4>Secured & Investment</h4>
        <p>
          Third-party (e.g Cryto currency) investment solutions to help you to grow your assets.
        </p>
        <a href="/about">Learn more</a>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-share"></label>
        <img src="assets/images/hand.png" alt="feature" style="margin-bottom: 20px;">
        <h4>Wealth and Assets Management</h4>
        <p>Wealth management on every level.</p>
        <a href="/about">Learn more</a>
      </div>

      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-share"></label>

        <img src="assets/images/megaphone.png" alt="feature" style="margin-bottom: 50px;">
        <h4>Overseas bank Account</h4>
        <p>Overseas bank accounts, our specialty. </p>
        <a href="/about">Learn more</a>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-dollar-sign"></label>
        <img src="assets/images/shield.png" alt="feature" style="margin-bottom: 40px;">
        <h3>Credit, Debit Cards</h3>
        <p> Payment cards that you can use anywhere with discretion. </p>
        <a href="/about">Learn more</a>
      </div>

      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-lock"></label>

        <img src="assets/images/shield.png" alt="feature" style="margin-bottom: 20px;">

        <h3>24/7 Online Support</h3>
        <p>You can reach us 24/7 via our online medium. Email, phone calls and Livechat.</p>
        <a href="/about">Learn more</a>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-lock"></label>

          <img src="assets/images/file.png" alt="feature" style="margin-bottom: 80px;">

        <h4>100% secure</h4>
        <p>
          We can handle all your personal and private banking needs.
        </p>
        <a href="/about">Learn more</a>
      </div>


    </div>
  </div>
</div>

<div class="section section-2">
  <div class="container">
    <div class="section-content row a-center j-center">
      <div class="section-content-left col-xs-12 col-md-6">
        <h3>Payment Solutions for anyone and everyone.</h3>
        <p>
          Absolutely, Fincch BankPay payment solutions have come a long way, making transactions more convenient and accessible for everyone. Whether you're a business owner or an individual, there are a variety of options to choose from.
        </p>
        <a href="#">Find more solution here by using Fincch BankPay ➤</a>
      </div>
      <div class="section-content-right col-xs-12 col-md-6">
        <div class="row image">
          <div class="col-xs-6 col-md-6 image-item">
            <div class="gutter img-1" style=""></div>
          </div>
          <div class="col-xs-6 col-md-6 image-item">
            <div class="gutter img-2"></div>
          </div>
          <div class="col-xs-6 col-md-6 image-item">
            <div class="gutter img-3"></div>
          </div>
          <div class="col-xs-6 col-md-6 image-item">
            <div class="gutter img-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services-area area-padding">
  <div class="container" >
    <div class="flexx">
      <div>
        <div class="choose-wrapper">
          <div class="left-headline">
              <h3>Our profesional services for all business and world wide clients.</h3>
          </div>
          <div class="row">
            <div class="all-services">	
              <!-- Start column -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="service-content">

                       <i class="flaticon-presentation-17"></i>

                    <div class="service-text">
                      <h4><a href="#">Loans</a></h4>
                      <p>From time to time in life and business, we find ourselves needing a little or a lot more money than we have to meet certain pressing financial goals. At Seathn Credit Union our loan offerings provide a fall-back position to secure the funds you need.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End column -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="service-content">

              <img src="./norm/img/card.png" width="15%" height="15%">

                    <div class="service-text">
                      <h4><a href="#">Cards</a></h4>
                      <p>Our MasterCard and Visa debit cards provide you 24-hour access to your current and savings account. The debit card is not just an ATM Card, it also enables you to make cashless purchases through POS, WEB, and ATM anywhere in the world. </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End column -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="service-content">

              <img src="./norm/img/transfer.png" width="15%" height="15%">

                    <div class="service-text">
                      <h4><a href="#">Transfers</a></h4>
                      <p>With this transfer platform you can transfer foreign currency to any bank account in the world. You can transfer up to the equivalent of ten thousand US Dollars daily. You must have your hardware token to authenticate all transfers on Internet Banking.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End column -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="service-content">

              <img src="./norm/img/bank.png" width="15%" height="15%">

                    <div class="service-text">
                      <h4><a href="#">Private Banking</a></h4>
                      <p>You may be building a nest egg for your approaching retirement, commencing a second career, investing the earnings from a successful business deal, or trying to ensure your next generation has a head-start on life. One of our strongest points is developing and implementing investment strategies to exceed your expectations, employing a mix of proven proficiency and cutting edge solutions. Always working with you to execute the plan, you can rest assured that your long term objectives will steer your portfolio towards the achievement of your ultimate goals.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End column -->
            </div>
          </div>
        </div>
                </div>
                <!-- End column -->
                <div class="col-md-4 hidden-sm col-xs-12">
                    <div class="services-images">
                      <img src="./norm/img/service/s1.jpg" alt="">
                    </div>
        </div>
    </div>
  </div>
</div>

<section class="counter-section pt-100 pb-70">
  <div class="container">
      <div class="section-title">
          <h2>We always try to evaluate customers values</h2>
      </div>
      <!-- counter-content -->
      <div class="counter-content">
        <div class="counter-item">
          <p><i class="icofont-google-map"></i></p>
          <h3><span class="counter">10</span></h3>
          <p>Our Locations</p>
      </div>
      <div class="counter-item">
          <p><i class="icofont-globe"></i></p>
          <h3><span class="counter">2,500,566</span></h3>
          <p> Customers Worldwide</p>
          <div class="counter-loader">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
      <div class="counter-item">
            <p><i class="icofont-umbrella-alt"></i></p>
          <h3><span class="counter">60,000</span></h3>
          <p>Testimonies</p>
          <div class="counter-loader">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
      <div class="counter-item">
        <p><i class="icofont-phone"></i></p>
          <h3><span class="counter">100</span></h3>
          <p>Response</p>
          <div class="counter-loader">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
      </div>
  </div>
</section>

<section class="home-download-section border-top-mob pt-100 pb-70">
  <div class="container">
      <div class="home-download-content">
          <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-6 order-lg-2">
                  <div class="home-download-item pb-30">
                      <div class="home-download-image scale-one-half">
                          <img src="assets/images/download.png" alt="smartphone">
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 order-lg-1">
                  <div class="home-download-item pb-30">
                      <div class="home-download-details home-service-start desk-pad-right-20">
                          <h2>Free app download now get sit back & enjoy</h2>
                          <p> Secure, convenient banking with our mobile app. Feel free to explore our app. App not available in your country, that is why you can't download. </p>
                          <div class="download-option">
                              <p>Download the app</p>
                              <ul class="download-option-list">
                                  <li>
                                      <a href="#" class="orange-gradient">
                                          <img src="assets/images/apple.png" alt="apple">
                                          <img src="assets/images/apple.png" alt="apple">
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#" class="blue-gradient">
                                          <img src="assets/images/android.png" alt="android">
                                          <img src="assets/images/android.png" alt="android">
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="home-contact-section overflow-hidden blue-gradient pt-100 pb-80">
  <div class="home-contact-bg-circle">
      <div class="home-contact-circle-item">
          <img src="assets/images/lg-circle-1.png" alt="circle">
      </div>
      <div class="home-contact-circle-item">
          <img src="assets/images/lg-circle-1.png" alt="circle">
      </div>
  </div>
  <div class="container">
      <div class="home-contact-inner">
          <h2>2367 businesses registered! create your bank account now</h2>
          <p>What’s next in Fincch BankPay Bank? <a href="/about">Learn More</a></p>
          <ul class="section-button">
              <li>
                  <a href="/register" class="btn1 orange-gradient btn-with-image">
                      <i class="flaticon-agenda"></i>
                      <i class="flaticon-agenda"></i>
                      Create Your Account
                  </a>
              </li>
          </ul>
      </div>
  </div>
</section>
